<h1><%= @group.name %></h1>

<p><%= @group.description %><p>

<% if signed_in? %>
  <% if current_user.member?(@group) %>
    <%= link_to "Leave this Group", leave_group_path(@group), method: :delete, data: { confirm: "Are you sure?" } %>
  <% else %>
    <%= link_to "Join this Group", join_group_path(@group), method: :post %>
  <% end %>
<% end %>

<h2>Images</h2>

<%= render(@group.images) || "This group has no images." %>

<h2>Group Members</h2>

<%= render_list(@group.users) || "This group has no members." %>
