<div class="page-header">
  <h1><%= @user.email %>'s Dashboard</h1>
</div>

<section>
  <h2>My Galleries</h2>

  <p><%= link_to "New Gallery", new_gallery_path %><p>

  <%= render "list", collection: @user.galleries %>
</section>

<section>
  <h2>My Groups</h2>

  <p><%= link_to "New Group", new_group_path %></p>

  <%= render "list", collection: @user.groups %>
</section>
