<h1>Edit Gallery</h1>
<%= form_for(@gallery, url: { action: "update", method: "put" }) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <%= form.submit "Update Gallery" %>
<% end %>
