<h1><%= @gallery.name %></h1>

<p> <%= @gallery.description %></p>

<% if signed_in? %>
  <nav>
    <%= link_to "Add Image", new_gallery_image_path(@gallery) %>
    <%= link_to "Edit Gallery", edit_gallery_path(@gallery) %>
    <%= link_to "Delete Gallery", @gallery, method: :delete, data: { confirm: "Are you sure?" } %>
  </nav>
<% end %>

<br>

<!--
<div class="container">
  I don't work with more than 4 images! And link me!
<div class="row">
  <% @images.each do |image| %>
  <div class="col-xs-6 col-sm-3">
    Use path helper here
    <a href="/galleries/<%= image.gallery.id %>/images/<%= image.id %>" class="thumbnail">
      <img src="<%= image.url %>" alt="<%= image.name %>">
    </a>
  </div>
  <% end %>
</div>
</div>
-->

<div>
  <%= render(@images) || "This gallery has no images." %>
</div>

