<%= render "errors", object: form.object %>
<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>
<div>
  <%= form.label :url %>
  <%= form.text_field :url %>
</div>
<div>
  <%= field_set_tag "Add Image to Groups" do %>
    <%= form.collection_check_boxes(:group_ids, current_user.groups, :id, :name) %>
  <% end %>
</div>
<div>
  <%= form.label :tag_list %>
  <%= form.text_field :tag_list %>
</div>
