<h1><%= @image.name %></h1>
<p><%= @image.description %></p>

<nav>
  <%= link_to @gallery.name, @gallery %>
  <%= link_to "Edit Image", edit_gallery_image_path(@gallery, @image) %>
  <%= link_to "Delete Image", [@gallery, @image], method: :delete, data: { confirm: "Are you sure?" } %>
</nav>

<section class="image">
  <%= image_tag @image.url %>
</section>

<section class="likes">
  <%= pluralize(@image.likes.count, "Like") %>
  <% if current_user.likes?(@image) %>
    <%= link_to "Unlike", [@gallery, @image, :like], method: :delete %>
  <% else %>
    <%= link_to "Like", [@gallery, @image, :like], method: :post %>
  <% end %>
</section>

<section class="comments">
  <h2>Comments</h2>

  <%= render @image.comments %>

  <h2>Post a Comment</h2>

  <%= form_for [@gallery, @image, @comment] do |form| %>
    <%= form.text_area :content %>
    <%= form.submit "Add Comment" %>
  <% end %>
</section>
