<div class="page-header">
  <h1>
    <%= @image.name %>
    <small><%= @image.description %></small>

    <%= render "likes", object: @image, path: [@gallery, @image, :like] %>

    <div class="pull-right">
      <div class="btn-group">
        <%= link_to @gallery, title: "View the #{ @gallery.name } gallery", class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-th"></span>
        <% end %>
        <% if signed_in? %>
          <%= link_to edit_gallery_image_path(@gallery, @image), title: "Edit Image", class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-wrench"></span>
          <% end %>
          <%= link_to [@gallery, @image], title: "Delete Image", method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </h1>
</div>

<section class="image">
  <%= image_tag @image.url %>
</section>

<section class="tags">
  <h2>Tags</h2>

  <%= render(partial: "tags/tag", collection: @image.tags) || "This image has no tags." %>
</section>

<section class="comments">
  <h2>Comments</h2>

  <%= render(@image.comments) || "This image has no comments." %>

  <% if signed_in? %>
    <h2>Post a Comment</h2>

    <%= form_for [@gallery, @image, @comment] do |form| %>
      <%= form.text_area :content %>
      <%= form.submit "Add Comment" %>
    <% end %>
  <% end %>
</section>
