<h1><%= @image.name %></h1>
<p><%= @image.description %></p>

<nav>
  <%= link_to @gallery.name, @gallery %>
  <% if signed_in? %>
    <%= link_to "Edit Image", edit_gallery_image_path(@gallery, @image) %>
    <%= link_to "Delete Image", [@gallery, @image], method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</nav>

<section class="image">
  <%= image_tag @image.url %>
</section>

<section class="likes">
  <%= pluralize(@image.likes.count, "Like") %>
  <% if signed_in? %>
    <% if current_user.likes?(@image) %>
      <%= link_to "Unlike", [@gallery, @image, :like], method: :delete %>
    <% else %>
      <%= link_to "Like", [@gallery, @image, :like], method: :post %>
    <% end %>
  <% end %>
</section>

<section class="tags">
  <h2>Tags</h2>

  <%= render(partial: "tags/tag", collection: @image.tags) || "This image has no tags." %>
</section>

<section class="comments">
  <h2>Comments</h2>

  <%= render(@image.comments) || "This image has no comments." %>

  <% if signed_in? %>
    <h2>Post a Comment</h2>

    <%= form_for [@gallery, @image, @comment] do |form| %>
      <%= form.text_area :content %>
      <%= form.submit "Add Comment" %>
    <% end %>
  <% end %>
</section>
