<!DOCTYPE html>
<html>
<head>
  <title>PixtrRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>

    <% if signed_in? %>
      <%= link_to "Home", root_path %>
    <% end %>
    <%= link_to "All Galleries", galleries_path %>
    <%= link_to "All Groups", groups_path %>
    <% if signed_in? %>
      <%= current_user.email %>
      (<%= link_to "Sign Out", session_path, method: :delete %>)
    <% else %>
      <%= link_to "Sign Up", new_user_path %>
      <%= link_to "Sign In", new_session_path %>
    <% end %>
  </div>

  <div>
    <% flash.each do |key, value| %>
      <p class="<%= key %>"><%= value %></p>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
